---
import Mainlayout from "../layouts/MainLayout.astro";
import { Button } from "@/components/ui/button";
---

<Mainlayout title="Home">
  <div>
    <a href="/selfcheck1"><Button> Selfcheck 2.1.1 </Button></a>
    <Button> Selfcheck 2.2.1 </Button>
    <a href="/selfcheck2-b"><Button> Selfcheck 2.2.2 </Button></a>
  </div>
</Mainlayout>
