---
import MainLayout from "@/layouts/MainLayout.astro";
import { SelfCheck2B } from "@/components";
---

<MainLayout> 
    <span class="flex justify-center pt-4 mb-4 text-xl font-bold">Self-Check 2.2.2</span>
    <SelfCheck2B />
</MainLayout>
