---
import MainLayout from "@/layouts/MainLayout.astro";
import { MultipleChoices } from "@/components";
---

<MainLayout>
    <span class="flex justify-center pt-4 text-xl font-bold">Self-Check 2.1.1</span>
    <MultipleChoices client:visible/>
</MainLayout>